manifest {
    homePage = 'https://github.com/iarcbioinfo/table_annovar-nf'
    description = 'execute table_annovar.pl in parallel with nextflow'
    mainScript = 'table_annovar.nf'
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/table_annovar-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/table_annovar-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/table_annovar-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/table_annovar-nf_dag.html"
}
